{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
<div class="container mt-5">
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>

    <hr class="my-4">

    <div class="text-center">
        <a href="{% provider_login_url 'google' %}" class="btn btn-danger w-100">
            <i class="fab fa-google"></i> Continue with Google
        </a>
    </div>
</div>
{% endblock %}