Mokshitha_TalentLink/frontend/node_modules/**
talentlink/talentlink/__pycache__/**
Mokshitha_TalentLink/talentlink/__pycache__/**
talentlink/marketplace/migrations/__pycache__/**
Mokshitha_TalentLink/marketplace/__pycache__/**
Mokshitha_TalentLink/marketplace/migrations/__pycache__/**
talentlink/marketplace/__pycache__/**
